projenv
config.ini
text_scripts.py
dags/__pycache__
airflowproj/models/example/*
logs
airflowproj/target/
airflowproj/dbt_packages/
airflowproj/logs/
airflowproj/.gitignore
snowflake_table.py
*.csv
test_script.py
